//Estilos Globales
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

*, *::after, *::before{
    margin: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

a{
    text-decoration: none;
}

p, input, a{
    font-size: 1.4rem;
    font-family: "Proxima Nova", sans-serif;
}
